html{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}
.txt{
    color:#0e0e0f;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.borde{
    position: absolute;
    left: 0%;
    top: 0%;
   /* transition:  0.3s linear;*/
}
.xtxt{
    color:#0e0e0f;
}
.ytxt{
    color:#0e0e0f;
}
.ztxt{
    color:#0e0e0f;
}
@media screen and (max-width:748px) {
    .borde{
        left:20%;
    }
}
