html{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:rgb(240, 227, 252);
    overflow-x: hidden;
}
.txt{
    color:#0e0e0f;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 227, 252);
}
.borde{
    position: absolute;
    left: 0%;
    top: 0%;
    width:100%;
   /* transition:  0.3s linear;*/
}
.magui{
    position: absolute;
    left: 20%;
    top: 15%;
    width:60%;
   /* transition:  0.3s linear;*/
}
.fecha{
    position: absolute;
    left: 20%;
    top: 10%;
    width:60%;
   /* transition:  0.3s linear;*/
}
.xtxt{
    color:#0e0e0f;
}
.ytxt{
    color:#0e0e0f;
}
.ztxt{
    color:#0e0e0f;
}

